/* Αφαίρεση περιγράμματος από το fieldset */
fieldset {
  border: none;
}

/* Στυλ για το input */
input {
  color: rgb(1, 3, 152);
  border: none;
  background: none; 
  outline: none; 
  font-family: cursive;
}

/* Στυλ για το body της σελίδας */
body {
  background-image: url("../Photos/white-wall-background.jpg");
  background-repeat: no-repeat;
  background-size: 250%;
  background-position: center center;
  background-attachment: fixed;
  font-family: cursive;
  margin: 0;
}

/* Στυλ για τα στοιχεία <a> */
a {
  color: black;
  text-decoration: none;
  transition: .4s; /* Ομαλή μετάβαση 0.4 δευτερολέπτων */
  list-style: none;
  justify-content: center;
  align-items: center;
  padding: 0;
}

/* Στυλ για το header */
header {
}

/* Κύρια επικεφαλίδα wrapper */
.big-wrapper {
  display: flex;
  float:right;
  padding-right: 14%;
  padding-top: 3%;
}

/* Επικεφαλίδα wrapper για τα αυτοκόλλητα */
.sticker-wrapper {
  font-size: 1em;
  padding-left: 3%;
}

/* Στυλ για το αυτοκόλλητο */
.sticker {
  position: relative;
  display: table;
  width: 10em;
  height: 10em;
  padding: 1em;
  border-radius: 100%;
  background: rgb(255, 215, 7);
  box-sizing: border-box;
  overflow: hidden;
}

/* Στυλ για το κείμενο στο αυτοκόλλητο */
.sticker p {
  text-decoration: none;
  color: #000000;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: black;
}

/* Στυλ για το fold του αυτοκόλλητου */
.sticker .fold {
  content: "";
  display: block;
  width: 10em;
  height: 10em;
  position: absolute;
  right: -6em;
  top: -6em;
  border-radius: 100%;
  background: -webkit-linear-gradient(-135deg, transparent 11.3em, #feeba7 10em, #feeba7 10em, #feeba7 85%);
  box-shadow: 0 0 1.0rem rgb(0, 0, 0);
}

/* Στυλ για το κίτρινο αυτοκόλλητο */
.sticker.yellow {
  background: rgb(255, 215, 7);
  background: -webkit-linear-gradient(-135deg, transparent 2.82em, rgb(255, 215, 7) 0, rgb(255, 215, 7));
}

/* Αλλαγή χρώματος κειμένου κατά το hover στα links του header */
header a:hover {
  color: #ffffff; /* Λευκό χρώμα κατά το hover */
}

/* Στυλ για το λογότυπο */
.logo {
  padding: 0px;
  height: 270px;
  width: 270px;
}

/* Στυλ για τα κουμπιά σελίδας */
.btn {
  color: black;
  font-family: cursive;
}

/* Στυλ hover των κουμπιών σελίδας */
.menu {
  margin: 1%;
  padding: 0.675em 1em 0.675em 1em;
  border: none;
  color: #000;
  cursor: pointer;
}

/* Διάταξη κίτρινα χαρτάκια */
.pop-categories {
  display: inline-block;
  margin-left: 9%;
}

/* Αλλαγή χρώματος κατά το hover για κάθε χαρτάκι */
.pop-categories:nth-child(1) a:hover {
  color: #007fa8;
}

.pop-categories:nth-child(2) a:hover {
  color: #719b00;
}

.pop-categories:nth-child(3):hover {
  color: #bb8800;
}

.pop-categories:nth-child(4):hover {
  color: #bb0043;
}

/* Μορφοποίηση του κυρίως περιεχομένου (main) */
main {
  background-image: url("../Photos/board-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin: 1%;
  padding: 0.675em 1em 0.675em 1em;
  background-color: #fff;
  border: 15px solid #c0a77b;
  border-radius: 0.25rem;
  color: #000;
  cursor: pointer;
}

/* Στυλ για το υποσέλιδο (footer) */
footer {
  background-image: url("../Photos/laptop.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 1500px;
  color: #fafafa;
  font-family: monospace;
  font-size: 15px;
}

/* Μέγεθος εικόνας λογότυπου στο υποσέλιδο */
footer .logo {
  height: 100px;
  width: 100px;
}

/* Χρώμα για επίσκεψη συνδέσμων */
.footer_links:visited {
 color: rgb(1, 255, 1);
}

/* Χρώμα για ενεργούς (πατημένους) συνδέσμους */
.footer_links:active { 
  text-decoration: underline;
}

/* Στυλ για τις φωτογραφίες στο υποσέλιδο */
footer .store_photos {
  width: 8%;
}

footer .app_photos {
  width: 3%;
}

/* Στυλ για τους συνδέσμους στο υποσέλιδο */
footer .footer_links {
  color: #fafafa;
}

/* Μορφοποίηση μικρών εικόνων */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 800,
  'GRAD' 0,
  'opsz' 24
}

/* Μορφοποίηση για το ημερολόγιο */
.calendar {
  --paper-dark: rgb(173, 173, 173);
  --paper-color: #ffffff;
  margin-top: 10%;
  position: relative;
  justify-content: center;
  text-align: center;
  width: 45%;
  background: linear-gradient( 135deg, var(--paper-dark), 30%, var(--paper-color) );
  transform-origin: top left;
  box-shadow: 0 0 1.0rem rgb(0, 0, 0);
}

/* Δημιουργία δύο στοιχείων προσθέτοντας σκιά για εφέ φωτισμού */
.calendar:before, .calendar:after{
  content:'';
  float:left;
  position:absolute;
  top:9px;  
  width:15px;
  height:15px;
  background:#111;
  z-index:1;
  border-radius:10px;
  box-shadow:0 1px 1px #fff;
}

.calendar:before{left:50px;}
.calendar:after{right:50px;}

/* Δημιουργία τοποθεσίας για το κείμενο του ημερολογίου */
.calendar_paper {
  display: inline-block;
  margin-left: 45%;
}

/* Στυλ για το κείμενο του ημερολογίου */
.calendar_text h2{
  padding-top: 25%;
  font-size: 150%;
}

/* Στυλ για το όνομα του μήνα */
.month_name{
  display:block;
  font:normal bold 20px/30px Arial, Helvetica, sans-serif;
  color:#fff;
  text-shadow:#00365a 0 -1px 0; 
  background:#04599a;
  background:-webkit-gradient(linear, left top, left bottom, from(#04599a), to(#00365a)); 
  background:-moz-linear-gradient(top,  #04599a,  #00365a); 
  border-bottom-right-radius:3px;
  border-bottom-left-radius:3px;  
  border-top:1px solid #00365a;
}

/* Μορφοποίηση για τον σελιδοδείκτη */
.selidodikths{
  --paper-dark: rgb(251, 255, 21);
  --paper-color: rgb(249, 255, 72);
  margin-top: 10%;
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  color:rgba(9, 19, 91, 0.815);
  width: 15%;
  height: 5%;
  background: linear-gradient( 135deg, var(--paper-dark), 30%, var(--paper-color) );
  transform-origin: top left;
  box-shadow: 0 0 1.0rem rgb(0, 0, 0);
}

/* Μορφοποίηση για τα χαρτάκια δημοφιλών κατηγοριών */
.paper1 {
    --paper-dark: #2991b4;
    --paper-color: #4ab6d9;
    margin-top: 10%;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    min-width: 200px;
    width: 100%;
    min-height: 200px;
    height: 100%;
    background: linear-gradient( 135deg, var(--paper-dark), 30%, var(--paper-color) );
    transform: rotate(10deg);
    transform-origin: top left;
    box-shadow: 0 0 1.0rem rgb(0, 0, 0);
}

.paper2 {
    --paper-dark: #88aa2d;
    --paper-color: #abcc51;
    margin-top: 10%;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 200px;
    min-height: 200px;
    height: 100%;
    background: linear-gradient( 135deg, var(--paper-dark), 30%, var(--paper-color) );
    transform: rotate(10deg);
    transform-origin: top left;
    box-shadow: 0 0 1.0rem rgb(0, 0, 0);
}

.paper3 {
    --paper-dark: #c69f3c;
    --paper-color: #f9c847;
    margin-top: 10%;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 200px;
    min-height: 200px;
    height: 100%;
    background: linear-gradient( 135deg, var(--paper-dark), 30%, var(--paper-color) );
    transform: rotate(10deg);
    transform-origin: top left;
    box-shadow: 0 0 1.0rem rgb(0, 0, 0);
}

.paper4 {
    --paper-dark: #bf4c76;
    --paper-color: #eb6092;
    margin-top: 10%;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 200px;
    min-height: 200px;
    height: 100%;
    background: linear-gradient( 135deg, var(--paper-dark), 30%, var(--paper-color) );
    transform: rotate(10deg);
    transform-origin: top left;
    box-shadow: 0 0 1.0rem rgb(0, 0, 0);
}
/* Μορφοποίηση για την πινέζα */

.pin {
  --pin-color: #d02627;
  --pin-dark: #9e0608;
  --pin-light: #fc7e7d;

  position: absolute;
  left: 20px;
  width: 60px;
  height: 50px;
  z-index: 1;
}

/* Δημιουργία σκιάς για εφέ φωτισμού */
.shadow {
  position: absolute;
  top: 18px;
  left: -8px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: radial-gradient(var(--paper-shadow), 20%, rgba(201, 191, 141, 0));
}

/* Μεταλλικό μέρος της πινέζας */
.metal {
  position: absolute;
  width: 5px;
  height: 20px;
  background: linear-gradient(to right, #808080, 40%, #eae8e8, 50%, #808080);
  border-radius: 0 0 30% 30%;
  transform: rotate(50deg);
  transform-origin: bottom left;
  top: 15px;
  border-bottom: 1px solid #808080;
}

/* Κύκλος στο κάτω μέρος της πινέζας */
.bottom-circle {
  position: absolute;
  right: 15px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--pin-color);
  background: radial-gradient(
    circle at bottom right,
    var(--pin-light),
    25%,
    var(--pin-dark),
    90%,
    var(--pin-color)
  );
}

/* Δημιουργία του barrel για την πινέζα */
.bottom-circle::before {
  content: "";
  position: absolute;
  top: 0;
  left: -2px;
  width: 20px;
  height: 30px;
  transform: rotate(55deg);
  transform-origin: 100% 100%;
  border-radius: 0 0 40% 40%;
  background: linear-gradient(
    to right,
    var(--pin-dark),
    30%,
    var(--pin-color),
    90%,
    var(--pin-light)
  );
}

/* Δημιουργία του επάνω κύκλου της πινέζας */
.bottom-circle::after {
  content: "";
  position: absolute;
  right: -10px;
  top: -5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: radial-gradient(
    circle at right,
    var(--pin-light),
    30%,
    var(--pin-color),
    var(--pin-dark) 80%
  );
}

/* Μορφοποίηση για το κείμενο των δημοφιλών κατηγοριών */
.pop-categories-text{ 
  margin: auto;
}

/* Στυλ για τα πλαίσια polaroid */
.polaroid {
  background: #fff;
  padding: 1rem;
  box-shadow: 0 0 1.0rem rgb(0, 0, 0);
}

/* Στυλ για τις εικόνες εντός των πλαισίων polaroid */
.polaroid > img {
  max-width: 100%;
  height: 350px;
  margin-top: 2%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Στυλ για τα captions κάτω από τις εικόνες */
.caption {
  color: rgba(9, 19, 91, 0.815);
  text-align: center;
  line-height: 2em;
  font-size: 1.00em;
}

/* Στυλ για τα wrapper προϊόντων */
.product-wrapper {
  display: inline-block;
  width: 20%;
  margin-top: 5rem;
}

/* Στυλ για τα προϊόντα */
.product {
  width: 20%;
  margin-top: 5rem;
}

/* Στυλ για τα πλαίσια polaroid πριν την εφαρμογή του hover */
.product .polaroid:before {
  content: '';
  position: absolute;
  z-index: -1;
  transition: all 0.35s;
}

/* Στυλ για τη στίχιση και την εμφάνιση των προϊόντων */

/* Στυλ για το πρώτο προϊόν */

.product:nth-of-type(4n+1) {
  transform: rotate(5deg);
  transition: all 0.35s;
}
.product:nth-of-type(4n+1) .polaroid:before {
  transform: rotate(6deg);
  height: 0%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
}

/* Στυλ για το δεύτερο προϊόν */

.product:nth-of-type(4n+2) {
  transform: rotate(-5deg);
  transition: all 0.35s;
}
.product:nth-of-type(4n+2) .polaroid:before {
  transform: rotate(-6deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  left: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
}

/* Στυλ για το τρίτο προϊόν */
.product:nth-of-type(4n+3) {
  transform: rotate(-3deg);
  transition: all 0.35s;
}
.product:nth-of-type(4n+3) .polaroid:before {
  transform: rotate(-4deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  left: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.3);
}


/* Στυλ για το τέταρτο προϊόν */
.product:nth-of-type(4n+4) {
  transform: rotate(3deg);
  transition: all 0.35s;
}

.product:nth-of-type(4n+4) .polaroid:before {
  transform: rotate(4deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.3);
}

/* Στυλ για τον περιστροφικό έλεγχο κατά το hover */
.product:hover {
  transform: rotateX(5deg);
}

/* Στυλ για την κλάση που δημιουργεί το χάρτι με γραμμές */
.paper-line {
  position: relative;
  width: 50%;
  height: 200px;
  z-index: 1;
  margin: 0 auto;
  padding: 1%;
  background: #fafafa;
  border-radius: 10px;
  box-shadow: 0 0 1.0rem rgb(0, 0, 0);
}

/* Στυλ για τις γραμμές που προστίθενται στο χάρτι */
.paper-line:before {
  content: '';
  position: absolute;
  top: 0; bottom: 0; left: 0;
  width: 60px;
  background: radial-gradient(#575450 6px, transparent 7px) repeat-y;
  background-size: 30px 30px;
  border-right: 3px solid #D44147;
  box-sizing: border-box;
}

/* Στυλ για το περιεχόμενο του χάρτιου */
.paper-content {
  position: absolute;
  z-index: 0;
  top: 30px; right: 0; bottom: 30px; left: 60px;
  background: linear-gradient(transparent, transparent 28px, #91D1D3 28px);
  background-size: 30px 30px;
}

/* Στυλ για τις κατηγορίες */
.categories {
  display: inline-block;
  margin-left: 9%;
}

.categories-text {
  padding-top: 8%;
  padding-bottom: 10%;
}

/* Στυλ για τα κείμενα των κατηγοριών */
.p1p, .p2p, .p3p, .p4p {
  margin: 0;
  font-weight: normal;

}
/* Στυλ για τον σύνδεσμο πριν επισκεφθεί (link) */
.visited a:link p.p1p {
  color: #000; 
  text-decoration: none;
}
.visited a:link p.p2p {
  color: #000; 
  text-decoration: none;
}

/* Στυλ για τον σύνδεσμο όταν έχει επισκεφθεί (visited) */
.visited a:visited p.p1p {
  color: rgb(188, 183, 224);
}
.visited a:visited p.p2p {
  color: rgb(187, 203, 183); 
}

/* Στυλ για τον σύνδεσμο όταν είναι σε κατάσταση active (πατημένος) */
.visited a:active p.p1p {
  text-decoration-line: underline;
}
.visited a:active p.p2p {
  text-decoration-line: underline;
}

/* Στυλ για τον σύνδεσμο όταν είναι σε κατάσταση hover */
.visited a:hover p.p1p {
  color: #007fa8;
}
.visited a:hover p.p2p {
  color: #719b00;
}

/* Στυλ για το hover των κατηγοριών */
.p1p:hover {
  color: #007fa8;
}

.p2p:hover {
  color: #719b00;
}

.p3p:hover {
  color: #bb8800;
}

.p4p:hover {
  color: #bb0043;
}

/* Στυλ για τη μορφοποίηση του φίλτρου */
.paper-line-filter {
  position: relative;
  width: 27%;
  height: 480px;
  z-index: 0;
  margin: 0 auto;
  padding: 1%;
  background: #fafafa;
  border-radius: 10px;
  box-shadow: 0 0 1.0rem rgb(0, 0, 0);
}

/* Στυλ για τις γραμμές που προστίθενται στο φίλτρο */
.paper-line-filter::before {
  content: '';
  position: absolute;
  top: 0; bottom: 0; left: 0;
  width: 60px;
  background: radial-gradient(#575450 6px, transparent 7px) repeat-y;
  background-size: 30px 30px;
  border-right: 3px solid #D44147;
  box-sizing: border-box;
}

.paper-content h3{
  font-weight: normal;
  margin: 0;
}

/* Στυλ για τη μπάρα του φίλτρου */
.range_container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 35% auto;
}

/* Στυλ για τα sliders του φίλτρου */
.sliders_control {
  position: relative;
  min-height: 50px;
}

/* Στυλ για τα form controls του φίλτρου */
.form_control {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  color: #635a5a;
}

/* Στυλ για την εικόνα με το tape */
.img-tape {
  position: relative;
}

.img-tape:before {
  background: rgba(255, 255, 235, 0.6);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  content: "";
  display: block;
  height: 30px;
  position: absolute;
  margin: auto;
  width: 100px;

  z-index: 2;
  left: 50%;
  margin-left: -50px;
  top: -10px;
}

/* Στυλ για τις εικόνες about us */
.aboutus_img {
  height: 150px;
}

/* Στυλ για το χάρτι about us */
.paper-line-aboutus {
  position: relative;
  width: 90%;
  max-width: 500px;
  min-width: 400px;
  height: 550px;
  margin: 0 auto;
  padding: 1%;
  background: #fafafa;
  border-radius: 10px;
  box-shadow: 0 0 1.0rem rgb(0, 0, 0);
}

/* Στυλ για τις γραμμές που προστίθενται στο χάρτι about us */
.paper-line-aboutus:before {
  content: '';
  position: absolute;
  top: 0; bottom: 0; left: 0;
  width: 60px;
  background: radial-gradient(#575450 6px, transparent 7px) repeat-y;
  background-size: 30px 30px;
  border-right: 3px solid #D44147;
  box-sizing: border-box;
}

/* Στυλ για το περιεχόμενο του χάρτι about us */
.paper-content-aboutus {
  position: absolute;
  top: 30px; right: 0; bottom: 30px; left: 60px;
  background: linear-gradient(transparent, transparent 28px, #91D1D3 28px);
  background-size: 30px 30px;
}

/* Στυλ για το πεδίο κειμένου του χάρτι about us */
.paper-content textarea {
  font-family: cursive;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  line-height: 30px;
  padding: 0 10px;
  border: 0;
  outline: 0;
  background: transparent;
  color: rgb(1, 3, 152);
  font-size: 15px;
  box-sizing: border-box;
  z-index: 1;
}

/* Στυλ για το κύκλο με το highlight */
.circle-sketch-highlight {
  position: relative;
  left: 0.5em;
  font-family: cursive;
  font-size: 20px;
  font-weight: 500;
}

/* Στυλ για το highlight πριν και μετά το κείμενο του κύκλου */
.circle-sketch-highlight:before,
.circle-sketch-highlight:after {
  content: "";
  z-index: 1;
  left: -0.5em;
  border-width: 2px;
  border-style: solid;
  position: absolute;
  width: 100%;
  height: 1em;
  opacity: 0.7;
  border-radius: 50%;
  padding: 0.1em 0.25em;
}

/* Στυλ για το highlight πριν το κείμενο του κύκλου */
.circle-sketch-highlight:before {
  top: -0.1em;
  border-color: #ab3234;
  border-right-color: transparent;
  transform: rotate(2deg);
}

/* Στυλ για το highlight μετά το κείμενο του κύκλου */
.circle-sketch-highlight:after {
  top: 0.1em;
  border-color: #9e0608;
  border-left-color: transparent;
  border-top-color: transparent;
  transform: rotate(-1deg);
}

/* Στυλ για τα στοιχεία με κλάση item */
.item {
  font-size: 30px;
  font-family: 'BioRhyme', serif;
  width: initial;
  height: 40px;
  line-height: 40px;
  margin-left: 5%;
  padding-left: 40px;
}

/* Στυλ για το highlight κάτω από τα στοιχεία με κλάση item */
.highlight {
  display: inline-block;
  position: absolute;
  z-index: -1;
  background-color: #FFFF33;
  margin-top: 1.5%;
  height: 30px; 
  width: 0%;
  transition: width 0.5s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* Στυλ για το highlight κατά το hover των στοιχείων με κλάση item */
.item:hover .highlight {
  width: 120px; 
}

/* Στυλ για το wrapper που περιλαμβάνει τα στοιχεία με κλάση item */
.item-wrapper {
  display: flex;
}

/* Στυλ για τις επιλογές λίστας */
.list-choice {
  width: 50%;
  margin: 1em auto;
  padding-top: 18%;
  position: relative;
  cursor: pointer;  
}

.list-choice input[type="radio"] {
  position: absolute;
  left: -9999px;
}

/* Στυλ για τον τίτλο της λίστας επιλογών */
.list-choice-title {
  width: 100%;
  display: block;
  background: transparent;
  text-align: center;
  padding: 0.55em 1em;
  box-sizing: border-box;
  color: #000000;
  border-radius: 0.2em;
}

/* Στυλ για το hover του τίτλου της λίστας επιλογών */
.list-choice:hover .list-choice-title {
  border-radius: 0.2em 0.2em 0 0;
  color: white;
}

.list-choice input[type="radio"] + span {
  color: #000000;
  background: transparent;
  display: block;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  width: 100%;
}

/* Στυλ για το hover του span μετά τον τίτλο της λίστας επιλογών */
.list-choice:hover input[type="radio"] + span:hover {
  color: white;
  background: transparent;
}

/* Στυλ για τα αντικείμενα επιλογής λίστας */
.list-choice-objects {
  position: absolute;
  top: 0;
  padding-top: 85%;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  max-height: 0;
  transition: all 250ms ease;
}

/* Στυλ για το ανοίγμα των αντικειμένων επιλογής λίστας κατά το hover */
.list-choice:hover .list-choice-objects {
  max-height: 540px;
}

/* Στυλ για τις επιλογές φίλτρου */
.list-choice-filter {
  width: 165px;
  position: relative;
  cursor: pointer;  
}

/* Στυλ για το input radio των επιλογών φίλτρου */
.list-choice-filter input[type="radio"] {
  position: absolute;
  left: -9999px;
}

/* Στυλ για τον τίτλο των επιλογών φίλτρου */
.list-choice-title-filter {
  width: 180px;
  display: block;
  background: transparent;
  padding: 0.55em 1em;
  box-sizing: border-box;
  color: #000000;
  border-radius: 0.2em;
}

/* Στυλ για το hover του τίτλου των επιλογών φίλτρου */
.list-choice-filter:hover .list-choice-title-filter {
  border-radius: 0.2em 0.2em 0 0;
  color: rgb(0, 17, 175);
}

/* Στυλ για το span της τελευταίας επιλογής αντικειμένου φίλτρου */
.list-choice-objects-filter label:nth-last-of-type(1) span{
  border-radius:0 0 0.2em 0.2em;
}
/* Στυλ για το span μετά το input radio των επιλογών φίλτρου */
.list-choice-filter input[type="radio"] + span {
  color: #000000;
  background:transparent;
  padding: 0.55em 1em;
  display: block;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  width: 100%;
}

/* Στυλ για τα αντικείμενα επιλογής φίλτρου */
.list-choice-objects-filter {
  padding-right: 50%;
  position: absolute;
  top: 0;
  padding-top: 2.1em;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  max-height: 0;
  transition: all 250ms ease;
}

/* Στυλ για το hover του input radio των αντικειμένων επιλογής φίλτρου */
.list-choice-filter:hover .list-choice-objects-filter input[type="radio"] + span {
  position: relative;
  top: 0;
  transition: all 250ms ease-in-out;
}

/* Στυλ για το hover του span μετά τον τίτλο των επιλογών φίλτρου */
.list-choice-filter:hover input[type="radio"] + span:hover {
  background: transparent;
  color: rgb(0, 17, 175);
}

/* Στυλ για το hover του checked span των επιλογών φίλτρου */
.list-choice-filter:hover input[type="radio"]:checked + span:hover {
  background: #FFFF33;
}

/* Στυλ για το checked span των επιλογών φίλτρου */
.list-choice-filter input[type="radio"]:checked + span {
  background: #FFFF33;
  width: 150px;
  position: absolute;
  top: 0em;
  border-radius: 0.2em;
}

/* Στυλ για το hover του checked span μετά τον τίτλο των επιλογών φίλτρου */
.list-choice-filter:hover input[type="radio"]:checked + span {
  border-radius: 0;
}

/* Στυλ για το hover του checked span της τελευταίας επιλογής φίλτρου */
.list-choice-filter:hover .list-choice-objects-filter label:nth-last-of-type(1) input[type="radio"]:checked + span {
  border-radius: 0 0 0.2em 0.2em;
}

/* Στυλ για το hover των αντικειμένων επιλογής φίλτρου */
.list-choice-filter:hover .list-choice-objects-filter {
  max-height: 540px;
}